.category_cours{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bloc_cours{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;

    article{
        transform: rotate(-90deg);
    }

    a{
        display: none;
    }

    &:nth-child(14){
        background-color: rgb(216, 216, 216);
    }

    @include tablet{
        height: 150px;
        display: flex;
        text-align: center;

        article{
            transform: rotate(0deg);
        }
    }

}

.bloc_Jeu{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color: white;

    article{
        transform: rotate(-90deg);
    }

    &:nth-child(16){
        background-color: rgb(216, 216, 216);
    }

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }

    @include tablet{
        height: 150px;
        display: flex;
        text-align: center;

        article{
            transform: rotate(0deg);
        }
    }
}

.bloc_Web{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;


    article{
        transform: rotate(-90deg);
    }

    &:nth-child(15){
        background-color: rgb(216, 216, 216);
    }

    &:nth-child(17){
        background-color: rgb(216, 216, 216);
    }

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }

    @include tablet{
        height: 150px;
        display: flex;
        text-align: center;

        article{
            transform: rotate(0deg);
        }
    }
}

.bloc_Conception{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;

    article{
        transform: rotate(-90deg);
    }

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }

    @include tablet{
        height: 150px;
        display: flex;
        text-align: center;

        article{
            transform: rotate(0deg);
        }
    }
}

.bloc_Spécifique{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;

    article{
        transform: rotate(-90deg);
    }

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }

    @include tablet{
        height: 150px;
        display: flex;
        text-align: center;

        article{
            transform: rotate(0deg);
        }
    }
}