.category_cours{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bloc_cours{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;

    a{
        display: none;
    }

    &:nth-child(14){
        background-color: rgb(216, 216, 216);
    }
    &:nth-child(15){
        background-color: rgb(216, 216, 216);
    }
    &:nth-child(16){
        background-color: rgb(216, 216, 216);
    }
    &:nth-child(17){
        background-color: rgb(216, 216, 216);
    }
}

.bloc_Jeu{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;
    background-color: white;

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }
}

.bloc_Web{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }
}

.bloc_Conception{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }
}

.bloc_Spécifique{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;

    a{
        display: none;
    }

    &:focus{
        background-color: rgb(163, 0, 0);
    }
}