.category_cours{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bloc_cours{
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    display: flex;
    text-align: center;

    a{
        display: none;
    }
}